<footer>
    <div class="footer-container">
      <div class="footer-col">
        <h4>Hỗ trợ khách hàng</h4>
        <ul>
          <li><a href="link">Thẻ ưu đãi</a></li>
          <li><a href="link">Hướng dẫn mua online </a></li>
          <li><a href="link">Ưu đãi dành cho Doanh nghiệp</a></li>
          <li><a href="link">Chính sách trả góp</a></li>
          <li><a href="link">Dịch vụ sửa chữa</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Chính sách mua hàng</h4>
        <ul>
          <li><a href="link">Điều kiện giao dịch chung</a></li>
          <li><a href="link">Chính sách bảo hành </a></li>
          <li><a href="link">Chính sách đổi trả </a></li>
          <li><a href="link">Chính ssachs thanh toán</a></li>
          <li><a href="link">Giao hàng và Lắp đặt tại nhà</a></li>
          <li>
            <a href="link"
              >Dịch vụ lắp đặt và nâng cấp PC/Laptop tại cửa hàng & TTBH</a
            >
          </li>
          <li><a href="link">Chính sách bảo mật thanh toán</a></li>
          <li><a href="link">Quy dịnh Đặt cọc và Giữ hàng</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Thông tin GTN</h4>
        <ul>
          <li><a href="link">Giới thiệu GTN</a></li>
          <li><a href="link">Hệ thống cửa hàng </a></li>
          <li><a href="link">Trung tâm bảo hành</a></li>
          <li><a href="link">Chính sách bảo hành</a></li>
          <li><a href="link">Tin công nghệ</a></li>
          <li><a href="link">Hỏi đáp</a></li>
          <li><a href="link">Tuyển dụng</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Cộng đồng GTN</h4>
        <ul>
          <li>
            Gọi mua hàng (miễn phí) <a class="mail" href="link">18001234</a>
          </li>
          <li>Gọi chăm sóc <a class="mail" href="link">18006789 </a></li>
          <li><a href="link">Facebook GTN</a></li>
          <li><a href="link">GTN Media</a></li>
          <li><a href="link">GTN Hội</a></li>
          <li><a href="link">OA GTN</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Email liên hệ</h4>
        <ul>
          <li>
            Hỗ trợ khách hàng :<a class="mail" href="link">cskh@gtn.com</a>
          </li>
          <li>
            Liên hệ báo giá <a class="mail" href="link">baogia@gtn.vn </a>
          </li>
          <li>
            Hợp tác phát triển <a class="mail" href="link">hoptac@gtn.vn</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="payment-bank">
      <div class="payment">
        <h4>Phương thức thanh toán</h4>
        <div class="list-items">
          <div class="item">
            <img
              src="https://img.icons8.com/?size=100&id=PL3nLfWtUZXK&format=png&color=000000"
              alt="QR"
            />
            <p><a href="link">QR Code</a></p>
          </div>

          <div class="item">
            <img
              src="https://img.icons8.com/?size=100&id=dtvMlkUgj119&format=png&color=000000"
              alt="Tiền mặt"
            />
            <p><a href="link">Tiền mặt</a></p>
          </div>

          <div class="item">
            <img
              src="https://img.icons8.com/?size=100&id=34&format=png&color=000000"
              alt="Trả góp"
            />
            <p><a href="link">Trả góp</a></p>
          </div>

          <div class="item">
            <img
              src="https://img.icons8.com/?size=100&id=awt0Ovgv4zff&format=png&color=000000"
              alt="Internet Banking"
            />
            <p><a href="link">Internet Banking</a></p>
          </div>
        </div>
      </div>

      <div class="bank-list">
        <h4>Danh sách các ngân hàng thanh toán online</h4>
        <img src="image/bankList.png" alt="Danh sách ngân hàng" />
      </div>
    </div>

    <div class="footer-bottom">
      <div class="company-info">
        <h4>CÔNG TY CỔ PHẦN THƯƠNG MAI - DỊCH VỤ GTN</h4>
        <p>
          © 1997 - 2020 Công Ty Cổ Phần Thương Mại - Dịch Vụ GTN Giấy chứng nhận
          đăng ký doanh nghiệp: 0304998358 do Sở KH-ĐT TP.HCM cấp lần đầu ngày
          30 tháng 05 năm 2007 Website GTN.vn thuộc quyền sở hữu của Công ty Cổ
          phần Thương Mại - Dịch Vụ GTN và được phát triển bởi GTN.
        </p>
      </div>

      <div class="address">
        <h4>Địa chỉ trụ sở chính:</h4>
        <p>
          Tầng 5, Số 117-119-121 Nguyễn Du, Phường Bến Thành, Thành Phố Hồ Chí
          Minh
        </p>

        <h4>Văn phòng điều hành miền Bắc:</h4>
        <p>
          Tầng 2, Số 47 Phố Thái Hà, Phường Trung Liệt, Quận Đống Đa, Thành phố
          Hà Nội
        </p>

        <h4>Văn phòng điều hành miền Nam:</h4>
        <p>
          677/2A Điện Biên Phủ, Phường 25 , Quận Bình Thạnh , TP. Hồ Chí Minh
        </p>
      </div>

      <div class="identify">
        <a href="link"><img src="image/da-dang-ky.png" alt="" /></a>
        <a href="link">
          <img src="image/dmca-badge-w150-2x1-02.png" alt="" />
        </a>
      </div>
    </div>
  </footer>