<header>
  <div class="top-banner">
    <img src="image/banner1.gif" alt="top banner" class="img-banner" />
  </div>
  <div class="menu">
    <div class="logo">
      <img src="image/logo.jpg" alt="logo" class="img-logo" />
    </div>
    <div class="category">
      <i class="bxr bx-list"></i>
      <span class="category-text">Danh mục</span>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Bạn cần tìm gì?" class="search" />
      <button class="button-search"><i class="bxr bx-search"></i></button>
    </div>
    <a href="tel:19001000" class="hotline">
      <i class="bx bx-headphone" class="icon-headphone"></i>
      <div class="hotline-text">
        <span>Hotline</span>
        <span>1900.1000</span>
      </div>
    </a>
    <a href="page/showroom_System/index.html" class="showroom-system">
      <i class="bxr bxs-location bx-rotate-90 bx-flip-vertical"></i>
      <div class="showroom-system-text">
        <span>Hệ thống</span>
        <span>Showroom</span>
      </div>
    </a>
    <a href="page/track_order/index.html" class="track-oder">
      <i class="bx bx-clipboard"></i>
      <div class="track-oder-text">
        <span>Tra cứu </span>
        <span>đơn hàng</span>
      </div>
    </a>
    <div class="user-cart">
      <i class="bxr bx-cart"></i>
      <span class="quantity">0</span>
      <div class="user-cart-text">
        <span>Giỏ</span>
        <span>hàng</span>
      </div>
    </div>
    <div class="login">
      <i class="bxr bx-user"></i>
      <div class="login-text">
        <span>Đăng</span>
        <span>nhập</span>
      </div>
    </div>
  </div>

  <div class="sub-header">
    <ul class="list-submenu">
      <li class="item-submenu-1">
        <a href="/buildpc"></a>
        <span class="text">Build PC tặng màn 240Hz</span>
      </li>
      <li class="item-submenu-2">
        <a href="/buildpc"></a>
        <span class="text">Tin công nghệ</span>
      </li>
      <li class="item-submenu-3">
        <a href="/buildpc"></a>
        <span class="text">Dịch vụ sửa chữa</span>
      </li>
      <li class="item-submenu-4">
        <a href="/buildpc"></a>
        <span class="text">Dịch vụ kỹ thuật tại nhà</span>
      </li>
      <li class="item-submenu-5">
        <a href="/buildpc"></a>
        <span class="text">Thu cũ đổi mới</span>
      </li>
      <li class="item-submenu-6">
        <a href="/buildpc"></a>
        <span class="text">Tra cứu bảo hành</span>
      </li>
    </ul>
  </div>
</header>
