<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.boxicons.com/fonts/basic/boxicons.min.css" rel="stylesheet" />
  <title>GTN | Laptop, PC chính hãng</title>
</head>

<body>
<header>
  <div class="top-banner">
    <img src="../image/banner1.gif" alt="top banner" class="img-banner" />
  </div>
  <div class="menu">
    <div class="logo">
      <img src="../image/logo.jpg" alt="logo" class="img-logo" />
    </div>
    <div class="category">
      <i class="bxr bx-list"></i>
      <span class="category-text">Danh mục</span>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Bạn cần tìm gì?" class="search" />
      <button class="button-search"><i class="bxr bx-search"></i></button>
    </div>
    <a href="tel:19001000" class="hotline">
      <i class="bx bx-headphone" class="icon-headphone"></i>
      <div class="hotline-text">
        <span>Hotline<br>1900.1000</span>
      </div>
    </a>
    <a href="showroom_System/index.html" class="showroom-system">
      <i class="bxr bxs-location bx-rotate-90 bx-flip-vertical"></i>
      <div class="showroom-system-text">
        <span>Hệ thống<br>Showroom</span>
      </div>
    </a>
    <a href="page/track_order/index.html" class="track-oder">
      <i class="bx bx-clipboard"></i>
      <div class="track-oder-text">
        <span>Tra cứu <br>đơn hàng</span>
      </div>
    </a>
    <div class="user-cart">
      <i class="bxr bx-cart"></i>
      <span class="quantity">0</span>
      <div class="user-cart-text">
        <span>Giỏ<br>hàng</span>
      </div>
    </div>
    <a href="/page/login_signup/login.html" class="track-oder">
      <i class="bxr bx-user"></i>
        <div class="login-text">
          <span>Đăng<br>nhập</span>
        </div>
    </a>
  </div>

  <div class="sub-header">
    <ul class="list-submenu">
      <li class="item-submenu-1">
        <a href="/buildpc"></a>
        <span class="text">Build PC tặng màn 240Hz</span>
      </li>
      <li class="item-submenu-2">
        <a href="/buildpc"></a>
        <span class="text">Tin công nghệ</span>
      </li>
      <li class="item-submenu-3">
        <a href="/buildpc"></a>
        <span class="text">Dịch vụ sửa chữa</span>
      </li>
      <li class="item-submenu-4">
        <a href="/buildpc"></a>
        <span class="text">Dịch vụ kỹ thuật tại nhà</span>
      </li>
      <li class="item-submenu-5">
        <a href="/buildpc"></a>
        <span class="text">Thu cũ đổi mới</span>
      </li>
      <li class="item-submenu-6">
        <a href="/buildpc"></a>
        <span class="text">Tra cứu bảo hành</span>
      </li>
    </ul>
  </div>
</header>
</body>

</html>
